body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    background-color: #9c9c9c;
    margin: 0;
    padding-left: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    margin: auto;
    color: #fff;
    cursor: pointer;
    width: 100px;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

button:hover {
    transform: scale(1.1); /* Expands the button slightly */
}


.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
}

/* Assign colors based on the days */
.box1 { background-color: #ff0000; } /* Monday - Red */
.box2 { background-color: #ffa500; } /* Tuesday - Orange */
.box3 { background-color: #ffff00; } /* Wednesday - Yellow */
.box4 { background-color: #008000; } /* Thursday - Green */
.box5 { background-color: #0000ff; } /* Friday - Blue */
.box6 { background-color: #4b0082; } /* Saturday - Indigo */
.box7 { background-color: #800080; } /* Sunday - Purple */

button[data-day="Monday"]{
    background-color: #ff0000;
}

button[data-day="Tuesday"]{
    background-color: #ffa500;
}

button[data-day="Wednesday"]{
    background-color: #ffff00;
}

button[data-day="Thursday"]{
    background-color: #008000;
}

button[data-day="Friday"]{
    background-color: #0000ff;
}

button[data-day="Saturday"]{
    background-color: #4b0082;
}

button[data-day="Sunday"]{
    background-color: #800080;
}