body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    background: url('daysotheweek.png') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding-left: 20px;
}


.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 170px;
    margin-top: 100px;
}

button {
    padding: 10px;
    border: none;
    margin: 10px;
    color: #ffffff;
    cursor: pointer;
    width: 250px;
    height: 65px;
    font-size: 30px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.15);
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: -50%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
}

.box1 { background-color: #ff0000; } /* Monday - Red */
.box2 { background-color: #ffa500; } /* Tuesday - Orange */
.box3 { background-color: #ffff00; } /* Wednesday - Yellow */
.box4 { background-color: #008000; } /* Thursday - Green */
.box5 { background-color: #0000ff; } /* Friday - Blue */
.box6 { background-color: #4b0082; } /* Saturday - Indigo */
.box7 { background-color: #800080; } /* Sunday - Purple */

button[data-day="Monday"]{
    background-color: #ff0000;
}

button[data-day="Tuesday"]{
    background-color: #ffa500;
}

button[data-day="Wednesday"]{
    background-color: #dbdb00;
}

button[data-day="Thursday"]{
    background-color: #008000;
}

button[data-day="Friday"]{
    background-color: #0000ff;
}

button[data-day="Saturday"]{
    background-color: #4b0082;
}

button[data-day="Sunday"]{
    background-color: #800080;
}

.box1 img,.box2 img,.box3 img,.box4 img,.box5 img,.box6 img,.box7 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}